/*this is my stylesheet for the homepage*/
/* header styles*/
/* main body styles*/
/* footer styles*/
/*-------General ------------*/


/*----Navigation-----*/


.top-bar{
  background-color: #78D8CD;
font-family: 'Italiana', serif;
text-shadow: 4px 4px 4px #aaa;
}
.menu>li>a:hover{
  background-color:#78D8CD;
  color: #fff;
}
.menu > li > a {
  background-color: #78D8CD;
  color:#184343;
  font-size: 25px;
}



/*---Body-----------------------------------*/
body{
  background-color: transparent;
}
.logo{
  color:#184343;
}

@media (max-width:639 px){
  nav {
    display:none;}
  }
  /*--Hero----------------------------------*/
  #hero-image {
	height: 182px;
	background: #e8eced url('../images/turq.jpg');
}
#hero-image h2 {
	margin: 20px 0 40px 0;
  color:white;
  text-align: center;
  font-family: 'Antic Didone', serif;
}

.button-1 {
  opacity: 0.9;
	display: block;
	text-align: center;
	background:white;
	border-radius: 3px;
	color:#78D8CD;
	width: 120px;
	height: 100px;
	line-height: 5px;
	margin: 0 auto;
}

.button-1:hover {
	background-color:#184343;
	color: #fff;
}

/*--Info----------------------------------*/
#info{
  font-family: 'Italiana', serif;
  font-size: 25px;
  color: #184343;
  text-align: center;
  text-shadow: 4px 4px 4px #aaa;
  background-color: #78D8CD;
  border-radius: 10px;
}

#service{font-family: 'Italiana', serif;
font-size: 25px;
color: #184343;
text-align: center;
text-shadow: 4px 4px 4px #aaa;
padding: 15px 350px;
}
#data{
  font-family: 'Italiana', serif;
  font-size: 22px;
  color: #184343;
  text-shadow: 4px 4px 4px #aaa;
text-align: center;
}
#demo{
  font-family: 'Italiana', serif;
  font-size: 20px;
  padding: 10px 310px;
}
