/*this is my stylesheet for the homepage*/
/* header styles*/
/* main body styles*/
/* footer styles*/
/*-------General ------------*/

.wrap{
  width: 90%;
  margin: 0 20px;
}
/*----Navigation-----*/
.site-logo{
  color:white;
}

.top-bar{
  background-color: #78D8CD;

}
.top-bar-left{
  padding:25px 50px;
}

.nav-desktop{
  height: 80px;
  padding:0;
  background-color: transparent;
}
.nav-desktop .menu-desktop {
  line-height: 80 px;
  background-color: transparent;
}


.menu > li > a {
  display: inline-block;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #78D8CD;

}

}
/*---Body-----------------------------------*/
.body{
  background-color: #78D8CD;
}


@media (max-width:639 px){
  nav {
    display:none;}
  }
